@using AmidPortfolio.Services
@using MudBlazor
@inject ThemeService ThemeService
@inject IJSRuntime JS
@implements IDisposable


<MudAppBar Elevation="0" Class="custom-appbar">

@*     <MudContainer MaxWidth="MaxWidth.ExtraLarge"> *@

        <div class="appbar-content">

            <MudText Class=@($"logo-text fw-bold") style="@($"--logo-text-bg:{GradientService.CurrentTheme.Background}")" Typo="Typo.h6">
                Amid Gigante Jr.
            </MudText>

            <!-- Desktop View -->
        <MudHidden Breakpoint="Breakpoint.MdAndDown">
                <div class="nav-links" style="@($"--menu-color:{GradientService.CurrentTheme.Color}")">
                    <MudButton Class="@GetClass("home")" OnClick="@(() => Go("home"))">
                        Home
                    </MudButton>

                    <MudButton Class="@GetClass("about")" OnClick="@(() => Go("about"))">
                        About
                    </MudButton>

                    <MudButton Class="@GetClass("portfolio")" OnClick="@(() => Go("portfolio"))">
                        Portfolio
                    </MudButton>


                    <MudButton Class="@GetClass("contact")" OnClick="@(() => Go("contact"))">
                        Contact
                    </MudButton>

                    @*   <MudIconButton Icon="@(ThemeService.IsDarkMode
                                                      ? Icons.Material.Filled.LightMode
                                              : Icons.Material.Filled.DarkMode)"
                               Color="Color.Inherit"
                               OnClick="ToggleTheme" /> *@
                </div>
        </MudHidden>

            <!-- Mobile View -->
            <MudHidden Breakpoint="Breakpoint.LgAndUp">

                <MudIconButton Icon="@Icons.Material.Filled.Menu"
                               Color="Color.Inherit"
                               OnClick="ToggleDrawer" />

            </MudHidden>


        </div>

@*     </MudContainer>
 *@
</MudAppBar>


<style>
    .logo-text {
        background-image: var(--logo-text-bg);
        font-weight: bold;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /**/
    .nav-links {
        display: flex;
        gap: 1rem;
    }

    .active-nav {
        position: relative;
        color: var(--menu-color) !important;
    }

        .active-nav::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 2px;
            background:var(--menu-color);
        }
</style>
@code {
    [Parameter] public EventCallback OnToggleTheme { get; set; }

    // private string MenuColor =>
    // GradientService.CurrentGradient switch
    // {
    //     "gradient-1" => "#8B5CF6",
    //     "gradient-2" => "#22C55E",
    //     "gradient-3" => "#EC4899",
    //     "gradient-4" => "#F59E0B",
    //     _ => "#8B5CF6"
    // };
    private bool _drawerOpen = false;
    private void ToggleTheme()
    {
        ThemeService.ToggleTheme();
    }

    protected override void OnInitialized()
    {
        NavigationService.OnSectionChanged += HandleSectionChanged;
        GradientService.OnChange += Refresh;
    }

    private async Task Go(string id)
    {
        await NavigationService.ScrollTo(id);
    }

    private void Refresh()
{
    InvokeAsync(StateHasChanged);
}

    private string GetClass(string section)
    {
        return NavigationService.ActiveSection == section
            ? "active-nav"
            : "";
    }


     private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void HandleSectionChanged(string section)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        NavigationService.OnSectionChanged -= HandleSectionChanged;
        GradientService.OnChange -= Refresh;
    }

}