@implements IDisposable

<MudContainer MaxWidth="MaxWidth.Large">
        <MudGrid Justify="Justify.Center">

        <MudItem xs="12" md="6" data-aos="fade-up"
                 data-aos-duration="600">

            <MudPaper Elevation="8" Class="profile-card" style="@($"--border-color:{GradientService.CurrentTheme.Color}")">

                
                    <MudImage Src="images/profile.webp"
                              Alt="Profile"
                              Class="profile-image" />
       

                </MudPaper>

            </MudItem>

            <MudItem xs="12" md="6">

            <MudText Typo="Typo.h1" Class="hero-title" data-aos="fade-up"
                     data-aos-duration="600">
                    Software
                <span class=@($"gradient-text") style="@($"--text-bg:{GradientService.CurrentTheme.Background}")">
                        Developer
                    </span>
                </MudText>

            <MudText Typo="Typo.h5" Class="mt-2" data-aos="fade-up"
                     data-aos-duration="800">
                    <span id="typed-text"></span>
                </MudText>

                @*   <MudText Typo="Typo.h5" Color="Color.Primary" Class="mt-2">
                Software Developer | ASP.NET Core | Blazor | Embedded Systems
            </MudText> *@

            <MudText Typo="Typo.body1" Class="mt-4 discription" data-aos="fade-up"
                     data-aos-duration="1000">
                    Developing modern web applications with .NET and Blazor,
                    while building innovative embedded and IoT solutions.
                </MudText>

            <MudStack Row="true" Spacing="2" Class="mt-6 hero-button-section" data-aos="fade-up"
                      data-aos-duration="1200">

                    <MudButton Class="hero-btn" Style="@($"--hero-color:{GradientService.CurrentTheme.Color}; --hero-color2:{GradientService.CurrentTheme.Secondary};")" EndIcon="@Icons.Material.Outlined.ArrowDownward" OnClick="@(() => Go("portfolio"))">
                            <MudText Typo="Typo.body1" Style="color: oklch(.928 .006 264.531);">See my work</MudText>
                        </MudButton>

                    <MudButton Class="hero-btn" Style="@($"--hero-color:{GradientService.CurrentTheme.Color}; --hero-color2:{GradientService.CurrentTheme.Secondary};")" EndIcon="@Icons.Material.Outlined.Email" OnClick="@(() => Go("contact"))">
                            <MudText Typo="Typo.body1" Style="color: oklch(.928 .006 264.531);">Contact</MudText>
                        </MudButton>

            </MudStack>

            <MudStack Row Spacing="1" class="mt-4 hero-link-button" data-aos="fade-up"
                      data-aos-duration="1400">
                    <MudIconButton Href="@github" Target="_blank" Icon="@Icons.Custom.Brands.GitHub" aria-label="github" />
                    <MudIconButton Href="@facebook" Target="_blank" Icon="@Icons.Custom.Brands.Facebook" aria-label="facebook" />
                    <MudIconButton Href="@tiktok" Target="_blank" Icon="@Icons.Custom.Brands.TikTok" aria-label="tiktok" />
                    <MudIconButton Href="@youtube" Target="_blank" Icon="@Icons.Custom.Brands.YouTube" aria-label="youtube" />
                    <MudIconButton Href="@gmail" Target="_blank" Icon="@Icons.Custom.Brands.Gmail" aria-label="gmail" />
                </MudStack>

            </MudItem>

        </MudGrid>
  
</MudContainer>

<style>
    .hero-title {
        font-size: 4.5rem;
        font-weight: 800;
        line-height: .95,1;
    }

    .gradient-text {
        background-image: var(--text-bg);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }

    .hero-role-software{
        font-size: 4.5rem;
        line-height: 1;
        font-weight: bold;

    }

    .hero-role-developer{
        font-size: 4.5rem;
        line-height: 1;
        font-weight: bold;
        background: linear-gradient( 90deg, #8B5CF6, #3B82F6 );
        -webkit-background-clip: text;
    }



    #typed-text {
        background: linear-gradient( to right, #f8fafc, #d1d5db );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 300;
    }

   /*  .typed-cursor {
        color: #8B5CF6;
        font-weight: bold;
    } */
    :root {
        --theme-primary: #8B5CF6;
    }

    .typed-cursor {
        color: var(--theme-primary);
        font-weight: bold;
    }

    /**/
    .discription{
        font-size: 1.125rem;
       color: oklch(.551 .027 264.364);
    }

    .hero-btn {
        position: relative;
        padding: 10px 20px;
        background: #050816;
        color: oklch(.928 .006 264.531);
        overflow: visible;
        border-radius: 12px;
        transition: all .35s ease;
    }

        .hero-btn::before {
            content: "";
            position: absolute;
            top: -2px;
            left: -2px;
            right: -2px;
            bottom: -2px;
            border-radius: inherit;
            background: linear-gradient( 135deg, var(--hero-color), var(--hero-color2) );
            z-index: -1;
            filter: blur(14px);
            opacity: .45;
            transition: all .35s ease;
        }

        .hero-btn::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 1px;
            background: linear-gradient( 135deg, var(--hero-color), var(--hero-color2) );
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            opacity: .7;
            transition: all .35s ease;
        }

        .hero-btn:hover {
            box-shadow: 0 0 10px var(--hero-color2), 0 0 25px var(--hero-color2);
        }

            .hero-btn:hover::before {
                opacity: 1;
                filter: blur(35px);
                transform: scale(1.08);
            }

        .hero-btn:active {
            transform: translateY(-2px);
        }

    /**/

    /* .profile-card {
        width: 450px;
        height: 560px;
        border-radius: .75rem;
        overflow: hidden;
        margin: auto;
    }

    .profile-image {
        object-position: center top;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 4 / 5;
    } */
    .profile-card {
        position: relative;
        display: inline-block;
        padding: 0;
        background: transparent;
        overflow: visible;
    }

        /* Top Left Corner */
        .profile-card::before {
            content: "";
            position: absolute;
            top: -18px;
            left: -18px;
            width: 3rem;
            height: 3rem;
            border-top: 2px solid var(--border-color);
            border-left: 2px solid var(--border-color);
            border-top-left-radius: .75rem;
            filter: drop-shadow(0 0 10px rgba(168, 85, 247, .5));
        }

        /* Bottom Right Corner */
        .profile-card::after {
            content: "";
            position: absolute;
            bottom: -18px;
            right: -18px;
            width: 3rem;
            height: 3rem;
            border-bottom: 2px solid var(--border-color);
            border-right: 2px solid var(--border-color);
            border-bottom-right-radius: .75rem;
            filter: drop-shadow(0 0 10px rgba(168, 85, 247, .5));
        }

    /* Gradient border around image */
/*     .image-border {
        padding: 1px;
        border-radius: 24px;
        background: linear-gradient( 135deg, #6366f1, #8b5cf6, #a855f7 );
    } */


   /*  .profile-image {
        width: 447.33px !important;
        height: auto;
        object-fit: cover;
        border-radius: 1rem;
        display: block;
    } */
    .profile-image {
        width: 100% !important;
        max-width: 447px;
        height: auto;
        object-fit: cover;
        border-radius: 1rem;
        display: block;
    }

    @@media (max-width:768px) {

        .hero-title {
            font-size: 2.5rem;
            line-height: 1;
        }

        .discription {
            font-size: 1rem;
            color: oklch(.551 .027 264.364);
        }

        #typed-text {
          font-size:1.2rem;
        }

        .hero-button-section{
            justify-content:center;
        }
        .hero-link-button{
            justify-content: center;
        }
    }

</style>

@code {
    private string github = "https://github.com/melfmidlabs";
    private string facebook = "https://www.facebook.com/profile.php?id=100063923315663";
    private string tiktok = "https://www.tiktok.com/@melfmid21?is_from_webapp=1&sender_device=pc";
    private string youtube = "https://www.youtube.com/@melfmid21";
    private string gmail = "mailto:jrgiganteamid@gmail.com";
    // private string BorderColor =>
    // GradientService.CurrentGradient switch
    // {
    //     "gradient-1" => "#8b5cf6",
    //     "gradient-2" => "#22c55e",
    //     "gradient-3" => "#ec4899",
    //     "gradient-4" => "#f59e0b",
    //     _ => "#8b5cf6"
    // };

    // private string PrimaryColor =>
    // GradientService.CurrentGradient switch
    // {
    //     "gradient-1" => "#3B82F6",
    //     "gradient-2" => "#22C55E",
    //     "gradient-3" => "#EC4899",
    //     "gradient-4" => "#F59E0B",
    //     _ => "#3B82F6"
    // };

    // private string SecondaryColor =>
    //     GradientService.CurrentGradient switch
    //     {
    //         "gradient-1" => "#8B5CF6",
    //         "gradient-2" => "#14B8A6",
    //         "gradient-3" => "#F43F5E",
    //         "gradient-4" => "#EF4444",
    //         _ => "#8B5CF6"
    //     };

    // private string CursorColor =>
    // GradientService.CurrentGradient switch
    // {
    //     "gradient-1" => "#8B5CF6",
    //     "gradient-2" => "#22C55E",
    //     "gradient-3" => "#EC4899",
    //     "gradient-4" => "#F59E0B",
    //     _ => "#8B5CF6"
    // };

    protected override void OnInitialized()
    {
        GradientService.OnChange += Refresh;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initializeTyping");
            // await JS.InvokeVoidAsync("setThemeColor", CursorColor);
        }
    }

    private async Task Go(string id)
    {
        await NavigationService.ScrollTo(id);
    }

    private async void Refresh()
    {
        // await JS.InvokeVoidAsync("setThemeColor", CursorColor);

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        GradientService.OnChange -= Refresh;
    }
}