@using AmidPortfolio.Models
@implements IDisposable

<MudOverlay Visible="@showVideo" Style="backdrop-filter: blur(10px); z-index:9999;background-color: rgba(0, 0, 0, 0.9);"
            DarkBackground="true"
            AutoClose="false" >

    <div class="video-viewer">

        <MudIconButton Icon="@Icons.Material.Filled.Close"
                       Class="video-close-btn"
                       OnClick="@(() => showVideo = false)" />

        <video controls
               autoplay
               class="demo-video">

            <source src="@SelectedVideoUrl"
                    type="video/mp4">

        </video>

    </div>

</MudOverlay>

<MudGrid Class="">

    @for (int count = 0; count < ProjectsModel.Count; count++)
    {
        var project = ProjectsModel[count];

        if(count == 0)
        {
            <MudItem xs="12" md="6" lg="4">
                <MudPaper @onclick="@(() => Snackbar.Add("Under development. Feature will add soon.", Severity.Info))"
                    Class="project-card-portfolio" style="@($"--project-card-portfolio-shadow:{GradientService.CurrentTheme.ShadowRgba}; --project-card-portfolio-color:{GradientService.CurrentTheme.Color}")"
                          data-aos="fade-up-right"
                          data-aos-duration="1000">

                    <div class="stats-gradient"></div>

                    <div class="project-image-container">

                        <MudPaper Class="project-badge" Elevation="0">

                            <MudText Class="project-badge-text">
                                02
                            </MudText>
                        </MudPaper>

                        <MudPaper Class="project-arrow" Elevation="0">

                            <MudIcon Icon="@Icons.Material.Rounded.ArrowOutward"
                                     Class="project-arrow-icon" />

                        </MudPaper>
                        <MudImage Src="@project.ImageUrl"
                                  Alt="@project.Title"
                                  Class="project-image" />

                    </div>

                    <div class="project-content">

                        <MudText Typo="Typo.h5"
                                 Class="project-title-gradient">
                            @project.Title
                        </MudText>

                        <MudText Typo="Typo.body2"
                                 Class="project-description">
                            @project.Description
                        </MudText>

                        <MudDivider class="mb-4"/>

                        <MudStack Row
                                  Wrap="Wrap.Wrap"
                                  Spacing="1">

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <i class="devicon-csharp-plain colored me-2" ></i>
                                C#

                            </MudChip>

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <i class="devicon-blazor-original colored me-2" ></i>
                                Blazor
                            </MudChip>

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <MudIcon Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Primary"
                                         Class="me-2" />
                                MudBlazor
                            </MudChip>

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <i class="devicon-postgresql-plain colored me-2"></i>
                                PostgreSQL
                            </MudChip>
                        </MudStack>
                        @* <div class="project-footer">

                            <MudLink OnClick="() => OpenDemoVideo(project.LiveDemoUrl)"
                                     Class="project-link">

                                Watch Demo

                                <MudIcon Icon="@Icons.Material.Filled.OpenInNew"
                                         Size="Size.Small" />

                            </MudLink>

                            <MudButton Variant="Variant.Text"
                                       EndIcon="@Icons.Material.Filled.ArrowForward"
                                       Class="project-button">

                                Details

                            </MudButton>

                        </div> *@

                    </div>

                </MudPaper>
            </MudItem>
        }else if(count == 1)
        {
            <MudItem xs="12" md="6" lg="4">
                <MudPaper @onclick="@(() => Snackbar.Add("Under development. Feature will add soon.", Severity.Info))" Class="project-card-portfolio" style="@($"--project-card-portfolio-shadow:{GradientService.CurrentTheme.ShadowRgba}")"
                          data-aos="fade-up"
                          data-aos-duration="1200">

                    <div class="project-image-container">

                          <MudPaper Class="project-badge" Elevation="0">

                            <MudText Class="project-badge-text">
                                03
                            </MudText>

                        </MudPaper>
                        <MudPaper Class="project-arrow" Elevation="0">

                            <MudIcon Icon="@Icons.Material.Rounded.ArrowOutward"
                                     Class="project-arrow-icon" />

                        </MudPaper>
                        <MudImage Src="@project.ImageUrl"
                                  Alt="@project.Title"
                                  Class="project-image" />

                    </div>

                    <div class="project-content">

                        <MudText Typo="Typo.h5"
                                 Class="project-title-gradient">
                            @project.Title
                        </MudText>

                        <MudText Typo="Typo.body2"
                                 Class="project-description">
                            @project.Description
                        </MudText>

                                                <MudDivider class="mb-4"/>

                        <MudStack Row
                                  Wrap="Wrap.Wrap"
                                  Spacing="1">

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <i class="devicon-csharp-plain colored me-2"></i>
                                C#

                            </MudChip>

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <i class="devicon-blazor-original colored me-2" ></i>
                                Blazor
                            </MudChip>

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <MudIcon Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Primary"
                                         Class="me-2" />
                                MudBlazor
                            </MudChip>

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <i class="devicon-cplusplus-plain colored me-2" ></i>
                                C++
                            </MudChip>

                             <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <i class="devicon-arduino-plain colored me-2"></i>
                                Arduino
                            </MudChip>

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <MudIcon Icon="@Icons.Material.Filled.Code" Color="Color.Primary"
                                         Class="me-2" />
                                ESP32
                            </MudChip>

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                 <MudIcon Icon="@Icons.Material.Filled.Code" Color="Color.Primary"
                                         Class="me-2" />
                                Edge Impulse
                            </MudChip>

                              <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                               <i class="devicon-postgresql-plain colored me-2"></i>
                                PostgreSQL
                            </MudChip>

                        </MudStack>

                       @*  <div class="project-footer">

                            <MudLink Href="@project.LiveDemoUrl"
                                     Target="_blank"
                                     Class="project-link">

                                Watch Demo

                                <MudIcon Icon="@Icons.Material.Filled.OpenInNew"
                                         Size="Size.Small" />

                            </MudLink>

                            <MudButton Variant="Variant.Text"
                                       EndIcon="@Icons.Material.Filled.ArrowForward"
                                       Class="project-button">

                                Details

                            </MudButton>

                        </div> *@

                    </div>

                </MudPaper>
            </MudItem>
        }else if(count == 2)
        {
            <MudItem xs="12" md="6" lg="4">
                <MudPaper @onclick="@(() => Snackbar.Add("Under development. Feature will add soon.", Severity.Info))"
                    Class="project-card-portfolio" style="@($"--project-card-portfolio-shadow:{GradientService.CurrentTheme.ShadowRgba}")"
                          data-aos="fade-up-left"
                          data-aos-duration="1000">

                    <div class="project-image-container">

                          <MudPaper Class="project-badge" Elevation="0">

                            <MudText Class="project-badge-text">
                                04
                            </MudText>

                        </MudPaper>
                        <MudPaper Class="project-arrow" Elevation="0">

                            <MudIcon Icon="@Icons.Material.Rounded.ArrowOutward"
                                     Class="project-arrow-icon" />

                        </MudPaper>
                        <MudImage Src="@project.ImageUrl"
                                  Alt="@project.Title"
                                  Class="project-image" />

                    </div>

                    <div class="project-content">

                        <MudText Typo="Typo.h5"
                                 Class="project-title-gradient">
                            @project.Title
                        </MudText>

                        <MudText Typo="Typo.body2"
                                 Class="project-description">
                            @project.Description
                        </MudText>

                                                <MudDivider class="mb-4"/>

                        <MudStack Row
                                  Wrap="Wrap.Wrap"
                                  Spacing="1">

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <i class="devicon-cplusplus-plain colored me-2"></i>
                                C++
                            </MudChip>

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <i class="devicon-arduino-plain colored me-2"></i>
                                Arduino
                            </MudChip>

                            <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                <MudIcon Icon="@Icons.Material.Filled.Code" Color="Color.Primary"
                                         Class="me-2" />
                                ESP32
                            </MudChip>


                        </MudStack>

                       @*  <div class="project-footer">

                            <MudLink Href="@project.LiveDemoUrl"
                                     Target="_blank"
                                     Class="project-link">

                                Watch Demo

                                <MudIcon Icon="@Icons.Material.Filled.OpenInNew"
                                         Size="Size.Small" />

                            </MudLink>

                            <MudButton Variant="Variant.Text"
                                       EndIcon="@Icons.Material.Filled.ArrowForward"
                                       Class="project-button">

                                Details

                            </MudButton>

                        </div> *@

                    </div>

                </MudPaper>
            </MudItem>
        }
       
    }

</MudGrid>



<style>
    .project-card-portfolio {
        background: rgba(17, 24, 39, 0.50);
        backdrop-filter: blur(16px);
        border: 1px solid rgba(255,255,255,.10);
        border-radius: .75rem;
        overflow: hidden;
        height: 100%;
        transition: all .35s ease;
        backdrop-filter: blur(16px);
        cursor: pointer;
    }

        .project-card-portfolio:hover {
            border: 1px solid var(--project-card-portfolio-shadow);
            box-shadow: 0 20px 40px var(--project-card-portfolio-shadow);
            transform: translateY(-8px);
        }

        .project-card-portfolio:hover .project-arrow-icon {
                transform: rotate(-45deg) scale(1.15);
        }


    .project-image-container {
        position: relative;
        overflow: hidden;
        padding: 0px;
    }
    /* Overlay */
        .project-image-container::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        background: linear-gradient( to top, rgba(0,0,0,.30) 0%, rgba(0,0,0,.18) 20%, rgba(0,0,0,.08) 45%, rgba(0,0,0,.03) 70%, transparent 100% );
        transition: opacity .35s ease;
    }


    .project-badge {
        position: absolute;
        top: 12px;
        left: 12px;
        padding: 6px 10px;
        border-radius: .375rem;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        background: rgba(0, 0, 0, .40);
        border: 1px solid rgba(255,255,255,.15);
        z-index: 2;
    }

    .project-badge-text {
        font-family: 'DM Mono', monospace !important;
        color: rgba(255,255,255,.80);
        font-size: .65rem;
        font-weight: 600;
        letter-spacing: .22em;
        text-transform: uppercase;
        line-height: 1;
    }

    .project-arrow {
        position: absolute;
        top: 12px;
        right: 12px;
        padding: 5px 8px;
        border-radius: 50%;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        background: rgba(0, 0, 0, .40);
        border: 1px solid rgba(255,255,255,.15);
        z-index: 2;
        transition: all .35s ease;
    }

    /* Icon */
    .project-arrow-icon {
        color: rgba(255,255,255,.80);
        font-size: .85rem;
        font-weight: 800;
        transition: transform .35s ease;
    }

/*  

    .project-arrow:hover {
        background: rgba(25,30,45,.9);
        border-color: rgba(255,255,255,.2);
        box-shadow: 0 0 20px rgba(168,85,247,.25);
        cursor: pointer;
    }

        .project-arrow:hover .project-arrow-icon {
            transform: rotate(-45deg) scale(1.15);
        } */


    .project-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        transition: all .4s ease;
    }

    .project-card-portfolio:hover .project-image {
        transform: scale(1.03);
    }

    /**/
    .project-content {
        padding: 24px;
    }

    .project-title-gradient {
    /*     font-family: 'Syne', sans-serif; */
        font-size: 1.125rem;
        font-weight: 700;
        background: linear-gradient( 90deg, #bfdbfe, #d8b4fe, #fbcfe8 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 10px;
    }

    .project-description {
        color: rgba(255,255,255,.70);
        min-height: 80px;
        line-height: 1.8;

    }
    /**/
    .project-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
    }

    .project-link {
        color: #60a5fa;
        display: flex;
        align-items: center;
        gap: 6px;
        text-decoration: none;
    }

        .project-link:hover {
            color: #93c5fd;
        }

    .project-button {
        background: rgba(255,255,255,.08);
        border-radius: 10px;
        color: white;
    }

    /**/
    .video-viewer {
        width: 90vw;
        max-width: 1200px;
        margin: auto;
        position: relative;
    }

    .demo-video {
        width: 100%;
        max-height: 85vh;
        border-radius: 16px;
    }

    .video-close-btn {
        position: absolute !important;
        top: 10px;
        right: 10px;
        z-index: 100;
        background: rgba(0,0,0,.55);
        backdrop-filter: blur(8px);
        color: white !important;
        transition: all .3s ease;
    }

        .video-close-btn:hover {
            background: rgba(239,68,68,.9);
            transform: rotate(90deg) scale(1.1);
        }


    @@media (max-width:768px) {
        .project-content {
            padding: 20px;
        }

        .project-description {
            color: rgba(255,255,255,.70);
            min-height: 80px;
            line-height: 1.8;
            font-size:.75rem;
        }
    }
</style>

@code {
    int count = 0;

    private bool showVideo;
    private string SelectedVideoUrl = "";

    private List<ProjectModel> ProjectsModel = new()
    {
        new()
        {
            Title = "NEXUS – Centralized Inventory & Project Management System",
            Description = "A centralized enterprise platform for inventory, part ordering, receiving, barcode and QR code scanning, project tracking, dashboards, and reporting. Built with ASP.NET Core Blazor Server and MudBlazor to modernize legacy workflows and improve operational efficiency.",
            ImageUrl = "images/projects/nexus-dashboard.png",
            Technologies = "C#, Blazor, MudBlazor",
            GitHubUrl = "",
            LiveDemoUrl = "videos/rvm.mp4",
        },

        new()
        {
            Title = "AutoBin - Smart Reverse Vending Machine System(AI-Powered)",
            Description = "A full-stack AI-powered recycling platform that integrates embedded systems, computer vision, and a Blazor web application to automate bottle recycling, reward users, and provide real-time monitoring and analytics.",
            ImageUrl = "images/projects/autobin.png",
            Technologies = ".NET, Blazor",
            GitHubUrl = ""
        },

        new()
        {
            Title = "Reverse Vending Machine (ESP32-Based)",
            Description = "An ESP32-based smart recycling machine that validates recyclable bottles and cans, automates reward dispensing, and monitors waste capacity and water levels to support efficient, sustainable recycling.",
            ImageUrl = "images/projects/rvm-esp32.png",
            Technologies = "Blazor, SQL Server",
            GitHubUrl = ""
        }
    };

    private void OpenDemoVideo(string videoUrl)
    {
        SelectedVideoUrl = videoUrl;
        showVideo = true;
    }

        protected override void OnInitialized()
        {
            GradientService.OnChange += Refresh;
        }

        private void Refresh()
        {
            InvokeAsync(StateHasChanged);
        }


        public void Dispose()
        {
            GradientService.OnChange -= Refresh;
        }
    
}